.my-header{
  background-color: #006699;
  h1,a{
    color:#fff;
  }
}

.my-footer{
  background-color: #006699;
  .mui-tab-item{
    color:#fff;
  }
  .mui-active.mui-tab-item{
    color:darkorange;
  }
}